@import '../../variables.scss';

.button_view {
  background-color: $yellow-color;
  color: black;
}

.component {
  padding: 15px;
  background-color: lightgray;
  width: fit-content;
  margin: 15px;
}
