@import '../../variables.scss';

.welcome_text {
  font-size: xxx-large;
  margin: auto;
  margin-top: 7%;
  width: 50%;
  text-align: center;
  padding: 10px;
}

.button_login {
  width: 15%;
  padding: 10px;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  align-content: center;
}

.button_register{
  width: 15%;
  padding: 10px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  align-content: center;
}
