<div style="display: flex; justify-content: center" id="filters">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="name" (blur)="filter()">
  </div>
  <div class="form-group">
    <label for="category">category:</label>
    <input type="text" class="form-control" id="category" [(ngModel)]="category" (blur)="filter()">
  </div>
  <div class="form-group">
    <label for="preparation">Preparation Time:</label>
    <input type="number" class="form-control" id="preparation" [(ngModel)]="time" (blur)="filter()">
  </div>
</div>

<div style="display: flex; justify-content: center" id="recipes">
  <app-one-recipe-details style="float: left" *ngFor="let recipe of RecipesArr" [myRecipe]="recipe"></app-one-recipe-details>
</div>
